body{
    background-color: #191919 ;
    color: white;
}
.main{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow:  -20px -20px 40px #0a0a0a, 
    20px 20px 40px #282828;
}

.btn{
    margin-top: 1rem;
}

.card{
    background-color: #322ac0;
    text-align: center;
    width: 14rem;
    min-width: 10rem;
    padding: 0%;
}

.card-img-top{
    height: 5rem;
}